---
layout: default
---

{% for post in site.posts %}
<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50" {% if post.image %}style="background-image: url('{{ post.image }}');"{% endif %}>
    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
  </div>
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {{ post.content | strip_html | truncatewords:64}}
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo" {% if post.author %}>{% else %}style="background-image: none;">U{% endif %}</div>
    <div>
      <strong>{{ post.author }}</strong>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
    <div class="section-spacer"></div>
    <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent">Read more</a>
  </div>
</div>
{% endfor %}
