/* Reset styles */
html, body, 
h1, h2, h3, h4, h5, h6,
div, span, p,
main, nav, a,
blockquote, pre,
article, aside,
ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Set up fonts */
body {
  background-color: $color-bg-light;
  color: $color-text-dark;
  font-family: Monoid, Roboto, sans-serif;
}

/* Mobile-first */
.site-menu {
  background-color: $color-bg-dark;
  color: $color-text-light;
  padding: 8px 0;
  position: relative;
  width: 100%;

  .site-branding {
    display: block;
    text-align: center;

    .site-title {
      color: $color-text-light;
      font-size: 2em;
      text-decoration: none;
    }

    .site-headline {
      display: none;
    }
  }

  .site-nav {
    display: block;
    font-size: 1.1em;
    margin: 50px auto 0px;
    letter-spacing: 4px;
    text-align: center;

    .menu-title {
      display: block;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .nav-link {
      color: $color-text-light;
      display: block;
      line-height: 2.4em;
      text-decoration: none;
      vertical-align: bottom;

      &:active {
        background-color: lighten($color-bg-dark, 4%);
      }
    }
  }
}

.page-content {
  display: block;
  font-size: 0.8em;
  margin-bottom: 36px;
  margin-top: 36px;
  padding: 0px 16px;
}

.site-footer {
  border-top: 1px solid $color-grey;
  padding: 16px;
  text-align: center;

  .footer-col {
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .contact-list, .social-media-list {
    list-style: none;

    li a {
        line-height: 2em;
        span {
          display: inline-block;
          height: 2em;
          vertical-align: middle;
        }
    }

    .icon svg {
      width: 1.8em;
    }
  }
}

/* Tablet and desktop */
@media (screen and min-width: 768px) {
  .site-menu {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 250px;
  }

  .page-content, .site-footer {
    margin-left: 250px;
  }
}


@media (screen and min-width: 1024px) {
  .site-menu {
    width: 300px;
  }

 .page-content, .site-footer {
    margin-left: 300px;
  }

  .page-content {
    padding: 32px 64px;
  }
  .footer-col {
    width: 32%;
  }
  .footer-col-1, .footer-col-2 {
    float:left;
  }

  .footer-col-3 {
    float: right;
  }
}
