@font-face {
  font-family: 'Monoid';
  src: url('https://larsenwork.com/monoid/css/Monoid-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoid';
  src: url('https://larsenwork.com/monoid/css/Monoid-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monoid';
  src: url('https://larsenwork.com/monoid/css/Monoid-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}
