@font-face {
  font-family: 'Monoid';
  src: url('../fonts/Monoid-Regular.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoid';
  src: url('../fonts/Monoid-Bold.ttf') format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monoid';
  src: url('../fonts/Monoid-Italic.ttf') format(truetype);
  font-weight: normal;
  font-style: italic;
}
